body {
  background-color: #FF7575;
  color: black;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
  font-size: 20px;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

.right li:hover {
  animation: bounce 1s;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

h1 {
  font-size: 60px;
  line-height: 87px;
}

h3 {
  font-size: 25px;
  line-height: 32px;
}
p {
  line-height: 23px;
  padding-bottom: 8px;
}

a {
  color: white;
  text-decoration: none;
}

figcaption {
  padding-bottom: 20px;
}

.story-text {
  font-size: 17px;
  line-height: 23px;
}

.author {
  line-height: 43px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
